* {
    font-family: 'Helevtica Neue', Helvetica, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 4em 1fr 2em; 
    gap: 2.25em 2.25em; 
    grid-template-areas: 
      "nav"
      "content"
      "footer"; 
    background-color: #f3f3f3;
}

nav {
    background-color: transparent;
}

#nav_items_list {
    list-style: none;
    float: right;
}

.nav_item {
    margin: 0 2em 0 2em;
    display: inline;
    font-size: 1.15em;
}

.nav_item_link {
    color: black;
    text-decoration: none;
}

.nav_item_link:hover {
    color: red;
}

.nav_item_link:active {
    text-decoration: underline red solid ;
}

.content {
    margin: 2em 1.8em auto 1.8em;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 1fr; 
    gap: 2.25em 2.25em; 
    grid-template-areas: 
    "left_container right_container"; 
}

.left_container {
    border-radius: 0.76em; 
    grid-area: left_container;
    height: auto;
    display: flex;
    flex-direction: column;
}


.upper_left_container {
    background-color: #FDFDFF;
    border-radius: 2em 2em 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5em 0.5em 2em rgba(214, 210, 210, 0.342);
}

#K-logo {
    height: 11em;
    margin: -5em 0 0 0;
}

#my-name {
    font-size: 2em;
    margin: 0.4em 0 0 0;
}

#my-role {
    margin-bottom: 2em;
}

.lower_left_container {
    background-color: #F3F6F7;
    border-radius: 0 0 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5em 0.5em 2em rgba(214, 210, 210, 0.342);
}

#bio-list {
    list-style: none;
    margin-left: -3em;
}

#bio-list li {
    margin: 1.3em 0 0.6em 0;
}

#bio-list:first-child {
    margin-top: 0.5em;
}

#bio-list li img {
    height: 1em;
    margin-right: 0.6em;
    margin-bottom: -0.1em;
}

#bio-button {
    height: 2.6em;
    width: 12em;
    margin-bottom: 2em;
    border:none;
    border-radius: 0.76em;
    background-color: rgba(130, 176, 219, 0.726);
    box-shadow: 0.3em 0.3em 1em rgba(176, 180, 184, 0.479);
    font-size: small;
    color: black;
}

#bio-button:active {
    background-color: rgba(62, 142, 216, 0.767);
    box-shadow: 0.2em 0.2em 0.85em rgba(176, 180, 184, 0.479);
}

#bio-button img {
    height: 2em;
    margin-right: 0.6em;
    margin-bottom: -0.4em;
}


.right_container {
    border-radius: 0.76em; 
    grid-area: right_container;
    height: auto;
    display: flex;
    flex-direction: column;
}

.upper_right_container {
    background-color: #FDFDFF;
    border-radius: 2em 2em 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5em 0.5em 2em rgba(214, 210, 210, 0.342);
}

.upper_right_container h1 {
    align-self: flex-start;
    margin: 1em 1em 1em 1em;
}

.upper_right_container p {
    margin: 0 2em 2em 2em;
}

.lower_right_container {
    background-color: #F3F6F7;
    border-radius: 0 0 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5em 0.5em 2em rgba(214, 210, 210, 0.342);
}

.lower_right_container h2 {
    align-self: flex-start;
    margin: 1em 1em 0 1em;
}

.card-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    background-color: #FDFDFF;
    border-radius: 1em;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 6fr; 
    grid-template-rows: 1fr 2fr; 
    gap: 0 0; 
    grid-template-areas: 
    "icon title"
    "icon desc"; 
    width: 45%;
    height: 8em;
}

.card:nth-child(1){
    margin: 2em 2em 0 2em;
}
.card:nth-child(2){
    margin: 2em 2em 0 0;
}

.card:nth-child(3) {
    margin: 2em 2em 2em 2em;
}

.card:nth-child(4) {
    margin: 2em 2em 2em 0;
}

.card img {
    grid-area: icon;
    align-self: center;
    justify-self: center;
    margin-top: -2em;
    height: 2.2em;
}

.card h3 {
    grid-area: title;
    margin: 1.6em 1em -1em 0;
}

.card p {
    grid-area: desc;
    margin-right: 1em;
}

.central-container {
    margin: 0 1.8em auto 1.8em;
    background-color: #FDFDFF;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0.5em 0.5em 2em rgba(214, 210, 210, 0.342);
    display: flex;
    flex-direction: column;
}

.central-container h1,h2,h3,p {
    margin-left: 2rem;
}

.edu-cards-description {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 3fr; 
    grid-template-rows: 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
    "programme degree graduated institution"; 
}

.edu-cards-description p:nth-child(1){
    grid-area: programme;
}
.edu-cards-description p:nth-child(2){
    grid-area: degree;
}
.edu-cards-description p:nth-child(3){
    grid-area: graduated;
}
.edu-cards-description p:nth-child(4){
    grid-area: institution;
}

.edu-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.edu-card {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 3fr; 
    grid-template-rows: 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
    "programme degree graduated institution"; 
    background-color: #F3F6F7;
    border-radius: 1em 1em 1em 1em;
    margin: 0 2em 2em 2em;
}

.edu-card p:nth-child(1){
    grid-area: programme;
}
.edu-card p:nth-child(2){
    grid-area: degree;
}
.edu-card p:nth-child(3){
    grid-area: graduated;
}
.edu-institution{
    grid-area: institution;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.4em;
    background-color: #eeeeee;
}

footer p {
    font-size: 0.7em;
}


